.links {
    display: flex;
    gap: 1rem;

}

.links li a {
    display: none;
    cursor: pointer;

    text-decoration: none;
    color: var(--color-black);
    padding: 3px;
    border-radius: 3px;
}


.links li a:hover {
    background-color: var(--color-black);
    color: var(--color-header);
}