:root {
    //Colors
    --color-header: #F1F6F9;
    --color-main: #F6F1E9;
    --color-word: #070A52;
    --color-main-secundary: #d1cad8;
    --color-black: #000000;

    //StyleWord
    font-family: 'Ysabeau', sans-serif;

    //With
    
}